<?xml version="1.0"?>
<!--
  ~ @copyright Copyright © 2025 Dot Sistemas. All rights reserved.
  ~ @author Eliel de Paula <elieldepaula@gmail.com>
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="DotSistemas\CronManager\Model\CronDataProvider">
        <arguments>
            <argument name="cronConfig" xsi:type="object">Magento\Cron\Model\ConfigInterface</argument>
        </arguments>
    </type>
</config>
